.container_main {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav {
  background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url("../../../yellow-min.jpg");
  background-repeat: no-repeat;
            background-size:100% 100%;
            -o-background-size: 100% 100%;
            -webkit-background-size: 100% 100%;
            background-size:cover;
}

.search {
  display: flex;
  justify-content: center;
  margin-top: 10rem;
  
}

.searchcard {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 0px solid rgb(61, 54, 26);
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 8px 8px 4px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.logo {
  animation: fadein 6s;
}

.cardimg {
  filter: blur(3px);
  -webkit-filter: blur(3px);
  width: 100%;
  border-radius: 0.8rem;
  justify-content: center;
}

.mainHeading {
  font-family: 'Marck Script', cursive;
  font-size: 5rem;
  font-weight: 500;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  animation: fadein 6s;
  padding-top: 3.2rem;
  margin-left: 0.3rem;
  margin-top: 0.3rem;
  
}

.subHeading {
  font-family: 'Marck Script', cursive;
  font-weight: 500;
  justify-content: center;
  text-align: center;
  text-decoration: none;
}

.main {
  min-width: 1000px;
  padding: 0rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff00;
  opacity: 0.95;
}

.footer {
  width: 1000px;
  height: 100px;
  margin-top: 0px;
  border-top: 0px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff00;
}




.grid {
  display: flex;
  max-width: 100%;
}

/* 
if background-image is yellow-min.jpg, use background-color: rgb(250, 245, 226);
if background-image is brown.jpg, use background-color: #f5eae2;
*/
.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 0px solid rgb(61, 54, 26);
  border-radius: 10px;
  background-color: rgb(250, 245, 226);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



.link {
  color: inherit;
  transition: color 0.15s ease;
  font-weight: 500;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.link:hover,
.link:active,
.link:focus {
  color: rgb(151, 67, 67);
}

.navlink {
  color: inherit;
  transition: color 0.15s ease;
  font-weight: 500;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  padding: 2rem;
  margin-top: 0.1rem;
  font-size: 2.4rem;
  font-family: 'Marck Script', cursive;
}

.navlink:hover,
.navlink:active,
.navlink:focus {
  color: rgb(151, 67, 67);
}

.indexlink {
  color: inherit;
  transition: color 0.15s ease;
  font-weight: 500;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.indexlink:hover,
.indexlink:active,
.indexlink:focus {
  color: rgb(187, 187, 187);
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}


@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
