/* The react component --> id by shop_type 
Thus, we can customize each popup by css styling based on #popup-{shop_type} 
e.g. bakery can have heading background, butcher red etc. 

Seems absolutely necessary to include store photos in the popup (similar to Airbnb).
*/





.mapwrapper {
  position: relative;
  width: 75%;
  justify-content: center;
  align-items: center;

}

.mapcontainer {
  position: absolute;
  width: 100%;
  height:100%;
  left: 0;
  top: 0;
  bottom: 0;
}




.clearfix {
  display: block;
}
.clearfix:after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* Marker tweaks */



.popupContent {
  font: 400 15px/22px 'Source Sans Pro', 'Helvetica Neue', Sans-serif;
  padding: 0;
  width: 180px;
}
.popupContentwrapper {
  padding: 1%;
}

.popupContent h1 {
  background: rgba(255, 255, 255, 0.788);
  color: black ;
  margin: 0;
  display: block;
  padding: 10px;
  border-radius: 3px 3px 0 0;
  font-weight: 700;
  margin-top: -15px;
  font-size: 22px;
}

.popupContent h3 {
  background: rgb(7, 5, 1);
  color: #fff ;
  margin: 0;
  display: block;
  padding: 10px;
  border-radius: 3px 3px 0 0;
  font-weight: 700;
  margin-top: -15px;
  font-size: 18px;
}

.popupContent h4 {
  margin: 0;
  display: block;
  padding: 10px 10px 10px 10px;
  font-weight: 400;
}

.popupContent div {
  padding: 10px;
}


.popupAnchorTop > .mapboxgl-popup-content {
  margin-top: 15px;
}

.react-geocoder {
  border: 0;
  border-radius: 0;
  position: relative;
  top: 0;
  width: 300px;
  height: 50px;
  margin-top: 0;
}

.ctrlGeocoder > div {
  min-width: 100%;
  margin-left: 0;
}

.tooltip {
  position: absolute;
  margin: 8px;
  padding: 4px;
  background: rgba(0, 0, 0, 0.8);
  color: rgb(255, 255, 255);
  max-width: 240px;
  font-size: 14px;
  font-weight: 700;
  pointer-events: none;
  height: 28px;
  border-radius: 3px 3px 3px 3px;
}

.tooltip h1 {
  font-size: 22px;
}

.tooltip h3 {
  font-size: 15px;
}